  

  
  /* COMPETENCES*/
  
  .comp{
    text-align: center;
    margin-top: 3%;
  }
  .projets {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 3%;
  
  }
  .projets img{
    width: 300px;
    height: 180px;
  }
  
  .projets a{
    background-color: rgb(41, 41, 41);
    padding: 2%;
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
    color: #ffffff;
    height: 600px;
    font-size: large;
    margin-top: 2%;
    box-shadow: 0 2px 4px rgba(46, 46, 46, 0.8);
  }
  
  .projets a:hover{
    background-color: rgb(143, 143, 143);
    color: black;
  }
  
  .competences {
    margin: 5%;
    margin-top: -3%;
  }
  
  .competences .case{
    background-color: rgba(179, 179, 179, 0.884);
    border-radius: 50px;
    width: 18%;
    height: 300px;
    box-shadow: 0 2px 4px rgba(46, 46, 46, 0.8);
    margin-left: 5%;
    margin-top: 5%;
    display: inline-block;
  }
  
  .competences .case img{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
  }
  
  .competences .case .python{
    width: 120%;
    margin-left: -10%;
  }
  
  
  /* CV*/
  
  .cv img {
    width: 60%;
    box-shadow: 0 0px 12px rgb(70, 70, 70);
    margin: 10%;
    margin-left: 20%;
    margin-top: 3%;
  }
  
  .cv h1{
    margin-top: 3%;
    text-align: center;
  }
  
  .download{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: black;
  
  }
  
  .blanc-svg{
    fill: #ffffff;
    width: 100%;
    height: 60%;
  }
  
  .download:hover{
    background-color: rgb(116, 116, 116);
  }
  
  /* DERNIER PROJET*/
  
  
  .dernier_projet {
    margin: 3%;
    display: flex; 
  }
  
  .dernier_projet .block_info_projet {
    background-color: rgb(44, 44, 44);
    padding: 2%;
    width: 40%;
    color: #fff;
    height: 600px;
    margin : 3%;
    display: inline-block;
    font-size: large;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  
  .dernier_projet .photoCourroux img{
    padding: 2%;
    padding-left: 0%;
    height: 500px;
    margin : 3%;
    margin-left : 0%;
    margin-top: 10%;
  }