  /* COMPETENCES*/
  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.projet{
    margin-top: 3%;
    padding-left: 13%;
    padding-right: 13%;
    font-size: 18px;
}

.elements{
    display: inline-block;
    width: 94%;
    margin: 3%;
    text-align: center;
}

.elements img{
    width: 100%;
}

.projet h1{
    background-color: rgba(86, 86, 86, 0.3);
    border-radius: 30px;
    padding: 1%;
    text-align: center;
}

.projet .elements h2{
    background-color: rgba(86, 86, 86, 0.2);
    border-radius: 20px;
    padding: 1%;
    color: white;
    text-align: center;
}

.projet .elements .content{
    background-color: rgba(86, 86, 86, 0.1);
    border-radius: 30px;
    padding: 2% 8% 0 8%;
    text-align: left;
}

.projet .elements .content .comps{
    padding-bottom: 4%;
}

.projet .elements .content .comp{
    background-color: rgba(0, 145, 145, 0.2);
    color: rgb(2, 194, 194);
    display: inline-block;
    border-radius: 50px;
    padding: 0.3% 2%;
    font-size: 15px;
    margin-left : 3%;
    margin-top: 4%;
}

.semestre{
      background-color: rgba(145, 0, 0, 0.2);
      color: rgb(194, 2, 2);
      display: inline-block;
      border-radius: 50px;
      padding: 1% 3%;
      font-size: 15px;
  }


#survie4 a h2{
    color: #11d412;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 1.7%;
    padding-bottom: 1.7%;
}

#recette5 h2{
    font-family: "Lobster", sans-serif;
    padding-top: 1.5%;
    padding-bottom: 1.9%;
}

.projet .elements .h2:hover{
    animation-name: colorchange;
    animation-duration: 0.5s; 
    animation-timing-function: ease;
    background-color: rgba(0, 145, 145, 0.2);
}


#ajouter .content{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5%;
}

#ajouter .content a{
    background-color: rgba(0, 145, 145, 0.2);
    color: rgb(2, 194, 194);
    width: 240px;
    text-align: center;
    font-size: 150px;
    font-weight: 200;
    border-radius: 60%;
    transition: 0.2s;
}

#ajouter .content a:hover{
    background-color:rgba(86, 86, 86, 0.2);
    color: rgb(255, 255, 255);
}

@keyframes colorchange {
    0% {  background-color:rgba(86, 86, 86, 0.2);}
    100% {  background-color: rgba(0, 145, 145, 0.2);}
}




  