.exp{
    text-align: center;
    margin-top: 3%;
    padding-left: 18%;
    padding-right: 18%;
    font-size: 18px;
}

.elements{
    margin-top: 3%;
    margin-bottom: 3%;
}

.experiences h1{
    background-color: rgba(86, 86, 86, 0.3);
    border-radius: 30px;
    padding: 1%;
}

.experiences .elements{
    background-color: rgba(86, 86, 86, 0.1);
    border-radius: 30px;
    padding: 1%;
    text-align: left;
    padding-left: 5%;
}

.formations{
    margin-top: 6%;
}

.formations h1{
    background-color: rgba(86, 86, 86, 0.3);
    border-radius: 30px;
    padding: 1%;
}

.formations .elements{
    background-color: rgba(86, 86, 86, 0.1);
    border-radius: 30px;
    padding: 1%;
    text-align: left;
    padding-left: 5%;
}

#recherche{
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 0%;
    margin-left: 0%;  
}

#recherche a{
    color: white;
    text-decoration: none;  
}


#recherche img{
    width: 5%;
    margin-right: 3%;
}
/* Ajoutez le CSS pour le curseur ici */
#rechercheStage::after {
    content: '|';
    animation: cursor-blink 1s infinite;
}

@keyframes cursor-blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#rapport{
    float:right;
    margin-right: 6%;
    margin-top: 3%;
    color: white;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
.tooltip:hover::after {
    visibility: visible;
    opacity: 1;
  }