@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


/* BODY */
body {
    font-family: 'Montserrat' , sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
  }

  /* NAVBAR */
  .navbar {
    background-color: rgb(0, 0, 0, 0.7); 
    color: #fff;
    padding: 10px 0; 

  }
  
  .container {
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  
  .logo {
    color: #fff;
    font-size: 1.5rem;
    list-style: none;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    text-decoration: underline; 
  }
  
a{
  text-decoration: none;
}

.selected{
  color: #979595;
}

/* FOND */

canvas {
  position: fixed; 
  top: 0;
  left: 0;
  z-index: -100;
}

#canvas2{
  position: fixed;
  z-index: -99;
}

/* CENTRE BUTTON */

.suite {
  text-align: center; 
  text-decoration: none;
  width: 18%;
  margin-left: 40%;
  color: rgb(0, 0, 0, 0.6);
  margin-top: 10%;
  border: 2px solid rgb(0, 0, 0, 0.6);
  border-radius: 10px;
}

.suite p {
  text-decoration: underline;
}

/* BUTTON SCROLL */

.scroll-button-droite {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #acacac;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.scroll-button-droite:hover {
  background-color: #979595;
}

.scroll-button-droite img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.scroll-button-gauche {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #acacac;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.scroll-button-gauche:hover {
  background-color: #979595;
}

.scroll-button-gauche img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  transform: scaleX(-1); 
}

/* PRESENTATION */

.presentation {
  margin: 3%;
  display: flex; 
}

.presentation .block_info_pers {
  background-color: rgb(44, 44, 44);
  padding: 2%;
  width: 40%;
  color: #fff;
  height: 600px;
  margin : 3%;
  margin-left: 10%;
  display: inline-block;
  font-size: large;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.presentation .block_info_pers a{
  color: #fff;
  text-decoration: underline;
}
.presentation .block_info_pers a:hover{
  color: #969696;
  text-decoration: none;
}


.presentation .photo img{
  padding: 2%;
  height: 650px;
  margin : 3%;
  margin-top: 10%;
  margin-left: 10%;
}

/* PARCOURS */

.parcours {
  margin: 3%;
  display: flex; 
}

.parcours .lycee,
.parcours .but {
  background-color: rgb(44, 44, 44);
  padding: 20px;
  width: 400px;
  height: 300px;
  padding-top: 100px;
  color: #fff;
  margin : 3%;
  margin-left: 16%;
  text-align: center;
  font-size: large;
  border-radius: 50%;
}


/* EXPERIENCES & FORMATIONS*/

.experience, .formation {
  margin: 3%;
  text-align: center;
}

.experience .stage, .formation .but, .formation .nsi {
  background-color: rgb(44, 44, 44);
  padding: 2%;
  width: 90%;
  color: #fff;
  height: 200px;
  margin : 3%;
  font-size: large;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

/* COMPETENCES*/

.comp{
  text-align: center;
  margin-top: 3%;
}
.projets {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 3%;
}
.projets img{
  width: 300px;
  height: 180px;
}

.projets a{
  background-color: rgb(41, 41, 41);
  padding: 2%;
  width: 18%;
  margin-left: 1%;
  margin-right: 1%;
  color: #ffffff;
  height: 600px;
  font-size: large;
  box-shadow: 0 2px 4px rgba(46, 46, 46, 0.8);
}

.projets a:hover{
  background-color: rgb(143, 143, 143);
  color: black;
}

.competences {
  margin: 5%;
  margin-top: -3%;
}

.competences .case{
  background-color: rgba(179, 179, 179, 0.884);
  border-radius: 50px;
  width: 18%;
  height: 300px;
  box-shadow: 0 2px 4px rgba(46, 46, 46, 0.8);
  margin-left: 5%;
  margin-top: 5%;
  display: inline-block;
}

.competences .case img{
  width: 80%;
  height: 80%;
  margin-left: 10%;
  margin-top: 10%;
}

.competences .case .python{
  width: 120%;
  margin-left: -10%;
}


/* CV*/

.cv img {
  width: 60%;
  box-shadow: 0 0px 12px rgb(70, 70, 70);
  margin: 10%;
  margin-left: 20%;
  margin-top: 3%;
}

.cv h1{
  margin-top: 3%;
  text-align: center;
}

.download{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: black;

}

.blanc-svg{
  fill: #ffffff;
  width: 100%;
  height: 60%;
}

.download:hover{
  background-color: rgb(116, 116, 116);
}