.footer {
  border-top: 0.1px solid rgba(226, 232, 240, 0.27);
  text-align: center;
}

.footerContent {
  max-width: 64rem;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  font-size: 0.875rem;
  color: rgb(149, 158, 172);
}
